<template>
  <v-sheet width="300" class="mx-auto" >
    <h2 class="pb-5">Добавить Менеджера</h2>
    <v-form ref="form">
      <v-text-field
        v-model="user.fio"
        :rules="requiredRules"
        label="Фамилия Имя Отчество"
        required
      ></v-text-field>

      <v-text-field
        v-model="user.phone"
        :rules="requiredRules"
        label="Телефон"
        required
      ></v-text-field>

      <v-text-field
        v-model="user.email"
        :rules="requiredRules"
        label="Email"
        required
      ></v-text-field>

      <v-text-field
        v-model="user.position"
        :rules="requiredRules"
        label="Должность"
        required
      ></v-text-field>

      <v-text-field
        v-model="user.login"
        :rules="requiredRules"
        label="Логин"
        required
      ></v-text-field>

      <v-select
        v-model="user.role"
        label="Роль"
        :items="roles"
      ></v-select>

      <div class="d-flex flex-column" elevation="12">
        <v-btn
          color="success"
          class="mt-4"
          block
          @click="saveUser"
        >
          Создать Менеджера
        </v-btn>
      </div>
    </v-form>
  </v-sheet>
</template>

<script>

import {useAuthUserAppStore, useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";
import router from "@/router";
import User from "@/models/User";
import UserDataService from "@/services/UserDataService";
import Roles from "@/Roles";

export default {
  name: "addUser",
  data() {
    return {
      user: new User( null, '', '', '', '', '', '','', '', Roles.User),
      requiredRules: [v => !!v || 'Это поле является обязательным'],
      roles: [Roles.User, Roles.Chief]
    };
  },
  methods: {
    saveUser: function () {
      let user = new User(
        null,
        '',
        useAuthUserAppStore().getAuthUser.name,
        this.user.fio,
        this.user.phone,
        this.user.email,
        this.user.position,
        this.user.login,
        '12345',
        this.user.role
      );

      UserDataService.create(user)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Менеджер ${response.data.fio} успешно добавлен`, "success", true))
          router.push({path: '/users'})
        })
        .catch(e => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });
    }
  }

}
</script>

<style scoped>

</style>
