<template>
  <v-sheet width="300" class="mx-auto" >
    <h2 class="pb-5">Редактировать Менеджера</h2>
    <v-form ref="form">
      <v-text-field
        v-model="user.fio"
        :rules="requiredRules"
        label="Фамилия Имя Отчество"
        required
      ></v-text-field>

      <v-text-field
        v-model="user.phone"
        :rules="requiredRules"
        label="Телефон"
        required
      ></v-text-field>

      <v-text-field
        v-model="user.email"
        :rules="requiredRules"
        label="Email"
        required
      ></v-text-field>

      <v-text-field
        v-model="user.position"
        :rules="requiredRules"
        label="Должность"
        required
      ></v-text-field>

      <v-text-field
        v-model="user.login"
        :rules="requiredRules"
        label="Логин"
        required
      ></v-text-field>

      <v-select
        v-model="user.role"
        label="Роль"
        :items="roles"
      ></v-select>

      <div class="d-flex flex-column" elevation="12">
        <v-btn
          color="success"
          class="mt-4"
          block
          @click="updateUser"
        >
          Редактировать Менеджера
        </v-btn>
      </div>
    </v-form>
  </v-sheet>
</template>

<script>

import User from "@/models/User";
import UserDataService from "@/services/UserDataService";
import Roles from "@/Roles";
import router from "@/router";
import {useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";

export default {
  name: "updateUser",
  data() {
    return {
      user: new User( null, '', '', '', '', '', '','', '', Roles.User),
      requiredRules: [v => !!v || 'Это поле является обязательным'],
      roles: [Roles.User, Roles.Chief]
    };
  },
  mounted() {

    UserDataService.get(this.$route.params.id)
      .then((response) => {
          this.user = response.data
        },
        (e) => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e)
        }
      );
  },
  methods: {
    updateUser(){
      UserDataService.update(this.user.id, this.user)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Менеджер ${response.data.fio} успешно отредактирован`, "success", true))
          router.push({path: '/users'})
        })
        .catch(e => {
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });
    }

  }
}
</script>

<style scoped>

</style>
