<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">
      <h2 class=" pt-5">
        Менеджеры Компании
      </h2>
      <v-form>
        <v-container class="align-end">
          <v-btn
            class="mt-6 mb-4 align-right"
            color="secondary"
            @click="addUser"
          >
            Добавить Менеджера
          </v-btn>
        </v-container>
      </v-form>
      <v-table fixed-header>
        <thead>
        <tr>
          <th class="text-left font-weight-black">
            Фамилия Имя Отчество
          </th>
          <th class="text-left font-weight-black">
            Телефон
          </th>
          <th class="text-left font-weight-black">
            Email
          </th>
          <th class="text-left font-weight-black">
            Должность
          </th>
          <th class="text-left font-weight-black">
            Login
          </th>
          <th class="text-left font-weight-black">
            Роль
          </th>
          <th class="text-left font-weight-black">
            Создал
          </th>
          <th class="text-left font-weight-black">
          </th>

        </tr>
        </thead>
        <tbody>
        <tr
          v-for="item in users"
          :key="item.fio"
          class="text-left"
        >
          <td>{{ item.fio }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.position }}</td>
          <td>{{ item.login}}</td>
          <td>{{ item.role}}</td>
          <td>{{ item.createdBy}}</td>
          <td>
            <v-btn-toggle
              rounded="0"
              group
            >
              <v-btn  @click="updateUser(item.id)" color="primary">
                Реадктировать
              </v-btn>

              <v-btn @click="openDialog(item.id)" color="error">
                Удалить
              </v-btn>
            </v-btn-toggle>
          </td>
        </tr>
        </tbody>
      </v-table>
      <v-dialog
        v-model="dialog"
        width="auto"
      >
        <v-card>
          <v-card-text>
            Вы действиетльно хотите удалить данного менежера из программы?
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" block @click="dialog = false">Отмена</v-btn>
          </v-card-actions>
          <v-card-actions>
            <v-btn color="error" block @click="deleteUser">Удалить менеджера</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-responsive>>
  </v-container>
</template>

<script>
import UserDataService from "@/services/UserDataService";
import router from "@/router";
import Roles from "@/Roles";
import {useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";


export default {
  name: "Users",
  data() {
    return {
      users: [],
      fio: '',
      phone: '',
      email: '',
      position: '',
      role: Roles.User,
      dialog: false,
      userId: ''
    }
  },
  mounted() {
    this.getAllUsers()
  },
  methods: {
    getAllUsers(){
      UserDataService.getAll()
        .then((response) => {
            this.users = response.data
          },
          (e) => {
            useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
            console.log(e)
          }
        );
    },
    addUser() {
      router.push({name: 'AddUser'})
    },
    updateUser(userId) {
      router.push({name: 'UpdateUser', params: {id: userId}})
    },
    deleteUser() {
      this.dialog = false
      UserDataService.delete(this.userId)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Менеджер успешно удален`, "success", true))
          this.getAllUsers()
        })
        .catch(e => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });
    },
    openDialog(id) {
      this.dialog = true
      this.userId = id
    }
  }

}
</script>

<style scoped>

</style>
