<template>

      <v-app-bar
        color="green-lighten-5"
      >

        <v-app-bar-title >Отдел продаж</v-app-bar-title>

        <v-spacer></v-spacer>

        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>

        <v-btn
          v-if="authUser"
          @click="logout"
        >
          ВЫЙТИ
        </v-btn>
      </v-app-bar>

      <v-main>

        <ViewContent />

      </v-main>


</template>

<script lang="ts" >

import ViewContent from "@/layouts/default/View.vue";
import {useAuthUserAppStore} from "@/store/app";
import router from "@/router";

export default {
  name: "AppBar",
  computed: {
    authUser() {
      if(useAuthUserAppStore().getAuthUser){
        return useAuthUserAppStore().getAuthUser;
      }
      return ""
    }
  },
  methods: {
    logout() {
      useAuthUserAppStore().setAuthUser(null)
      useAuthUserAppStore().setUser(null)
      router.push({path: '/login'})
    },
  },
  components: {ViewContent},
}




  //
</script>
