<template>
  <v-app>
    <AppBar />
    <Drawers />
    <MessageSnackbar />
  </v-app>
</template>

<script lang="ts" setup>
  import Drawers from "@/layouts/default/Drawers.vue";
  import MessageSnackbar from "@/layouts/default/MessageSnackbar.vue";
  import AppBar from "@/layouts/default/AppBar.vue";

</script>
