<template >
<!--  class="d-flex align-center"-->
      <v-navigation-drawer
        expand-on-hover
        rail
        color="green-lighten-5"
        elevation-5
        v-if="authUser"
      >

        <v-list >
          <v-list-item
            prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
          >{{authUser.userName}}</v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item prepend-icon="mdi-folder" title="My Files" value="myfiles"></v-list-item>
          <v-list-item prepend-icon="mdi-account-multiple" title="Менеджеры" value="shared" to="/users"></v-list-item>
          <v-list-item prepend-icon="mdi-star" title="Компании" value="starred" to="/companies"></v-list-item>
        </v-list>
      </v-navigation-drawer>

      <v-main style="height: 250px"></v-main>
</template>

<script lang="ts">
import {useAuthUserAppStore} from "@/store/app";

export default {
  name: "Drawers",
  computed: {
    authUser() {
      if (useAuthUserAppStore().getAuthUser) {
        return useAuthUserAppStore().getAuthUser;
      }
      return ""
    }
  }
}
</script>
