<template >
  <v-snackbar v-model="show" :top="true" :color="color" timeout="4000" class="align-center">
    {{text}}
  </v-snackbar>
</template>

<script>

import {useMessageAppStore} from "@/store/app";
import {ref} from "vue"
import Message from "@/models/Message";

export default {
  name: "MessageSnackbar",

  setup() {
    const messageStore = useMessageAppStore()
    const message = ref(new Message('', '', false))
    let text = ref('')
    let show = ref(false)
    let color = ref('')
    messageStore.$subscribe((mutation, state) => {
        if(state.message.show === true){
          show.value = true
          message.value = state.message
          text.value = message.value.text
          color.value = message.value.color
        }
    })

    function clearData() {
      messageStore.changeState(new Message('','', false))
    }

    setTimeout(() => {
      clearData()
    }, 4000)

    return {
      text,
      show,
      color,
      clearData
    }
  },

}
</script>

<style scoped>

</style>
