<template>
  <v-sheet width="300" class="mx-auto" >
    <h2 class="pb-5">Добавить Компанию</h2>
    <v-form ref="form">
      <v-text-field
        v-model="company.name"
        :rules="requiredRules"
        label="Название компании"
        required
      ></v-text-field>

      <v-text-field
        v-model="company.inn"
        :rules="requiredRules"
        label="ИНН"
        required
      ></v-text-field>

      <v-text-field
        v-model="company.address"
        :rules="requiredRules"
        label="Адрес"
        required
      ></v-text-field>

      <div class="d-flex flex-column" >
        <v-btn
          color="success"
          class="mt-4"
          block
          @click="saveCompany"
        >
          Создать Компанию
        </v-btn>
      </div>
    </v-form>
  </v-sheet>
</template>

<script >
import Company from "@/models/Company";
import CompanyDataService from "@/services/CompanyDataService";
import router from "@/router";
import {useAuthUserAppStore, useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";


export default {
  name: "AddCompany",
  data() {
    return {
      company: new Company(null,'', '', '', '', '', [], [], []),
      requiredRules: [v => !!v || 'Это поле является обязательным'],
    };
  },
  methods: {
    saveCompany: function () {
      let company = new Company(
        null,
        '',
        useAuthUserAppStore().getAuthUser.login,
        this.company.name,
        this.company.inn,
        this.company.address,
        [], [],[]
      );

      CompanyDataService.create(company)
        .then(response => {
          useMessageAppStore().changeState(new Message( `Компания ${response.data.name} успешно добавлена`, "success", true))
          router.push({path: '/companies'})
        })
        .catch(e => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });

    }

  }

}
</script>

<style scoped>

</style>
