<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">
      <h2>Компания {{this.company.name}}</h2>
      <h3>ИНН {{this.company.inn}}</h3>
      <h3>Адрес {{this.company.address}}</h3>
      <h3>Менеджер {{this.company.createdBy}}</h3>
      <Clients :companyId="companyId"/>
      <Actions :companyId="companyId"/>
      <Deals :companyId="companyId"/>
    </v-responsive>
  </v-container>
</template>

<script>
import CompanyDataService from "@/services/CompanyDataService";
import Company from "@/models/Company";
import Clients from "@/components/clients/Clients.vue";
import Actions from "@/components/actions/Actions.vue";
import {useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";
import Deals from "@/components/deals/Deals.vue";

export default {
  name: "Company",
  components: {Deals, Actions, Clients},
  data() {
    return {
      company: Company,
      companyId: this.$route.params.id
    }
  },
  mounted() {
    this.getCompany(this.$route.params.id)
  },
  methods: {
    getCompany(id){
      CompanyDataService.get(id)
        .then((response) => {
            this.company = response.data
          },
          (e) => {
            useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
            console.log(e)
          }
        );
    }
  }
}
</script>

<style scoped>

</style>
