<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">
      <v-form >
        <v-container>
          <v-row dense>
            <v-col cols="12" md="3">
              <v-text-field
                v-model="company.name"
                color="blue-grey-lighten-2"
                label="Наименование компании"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="3">
              <v-text-field
                v-model="company.inn"
                color="blue-grey-lighten-2"
                label="ИНН компании"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="3">
              <v-text-field
                v-model="company.address"
                color="blue-grey-lighten-2"
                label="Адрес компании"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="3">
              <v-autocomplete
                :items="users"
                item-title="fio"
                item-value="login"
                v-model="company.createdBy"
                density="comfortable"
                label="ФИО менеджера"
                color="blue-grey-lighten-2"
              ></v-autocomplete>
            </v-col>
          </v-row>

        </v-container>
        <v-col cols="12" md="4" >
          <v-btn @click="searchCompany" block class="mt-2 ">
            Найти компанию
          </v-btn>
        </v-col>

      </v-form>
      <v-form>

        <h2 class=" pt-5">
          Компании
        </h2>

      </v-form>
      <v-container class="align-end">
        <v-btn
          class="mt-6 mb-4 align-right"
          color="secondary"
          @click="addCompany"
        >
          Добавить Компанию
        </v-btn>
      </v-container>

      <v-table fixed-header>
        <thead>
        <tr>
          <th class="text-left font-weight-black">
            Название Компании
          </th>
          <th class="text-left font-weight-black">
            ИНН
          </th>
          <th class="text-left font-weight-black">
            Адрес
          </th>
          <th class="text-left font-weight-black">
            Менеджер
          </th>
          <th class="text-left font-weight-black">
          </th>

        </tr>
        </thead>
        <tbody>
        <tr
          v-for="item in companies"
          :key="item.name"
          class="text-left"
        >
          <td>{{ item.name }}</td>
          <td>{{ item.inn }}</td>
          <td>{{ item.address }}</td>
          <td>{{item.createdBy}}</td>
          <td>
            <v-btn  @click="updateCompany(item.id)" color="success" variant="outlined">
              Редактировать
            </v-btn>
            <v-btn  @click="showCompany(item.id)" color="primary" variant="outlined" class="ml-2">
              Подробнее
            </v-btn>
          </td>
        </tr>
        </tbody>
      </v-table>
    </v-responsive>
  </v-container>
</template>

<script>

import CompanyDataService from "@/services/CompanyDataService";
import router from "@/router";
import {useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";
import UserDataService from "@/services/UserDataService";
import Company from "@/models/Company";
export default {
  name: "Companies",
  data() {
    return {
      companies: [],
      users: [],
      company: new Company(null, '', '', '', '', '',  [], [],[])
      //id: createdWhen:  createdBy: ,name: , inn: , address: , clientsIds: number[], dealsIds: number[], actionsIds: number[]
    }
  },
  mounted() {
    CompanyDataService.getAll()
      .then((response) => {
          this.companies = response.data
        },
        (e) => {
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e)
        }
      );
    UserDataService.getAll()
      .then((response) => {
          this.users = response.data
        },
        (e) => {
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e)
        }
      );

  },
  methods: {
    addCompany() {
      router.push({path: '/addCompany'})
    },
    searchCompany: function () {
      let company = new Company(
        null,
        '',
        this.company.createdBy,
        this.company.name,
        this.company.inn,
        this.company.address,
        [],
        [],
        []
      )

      CompanyDataService.search(company)
        .then(response => {
          useMessageAppStore().changeState(new Message( `Запрос на поиск компаний направлен`, "success", true))
          this.companies = response.data
        })
        .catch(e => {
          useMessageAppStore.snackbar = true
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });
    },
    showCompany(companyId) {
      router.push({name: 'Company', params: {id: companyId}})
    },
    updateCompany(companyId) {
      router.push({name: 'UpdateCompany', params: {id: companyId}})
    },

  }
}

</script>

<style scoped>

</style>
