<template>
  <v-sheet width="300" class="mx-auto" >
    <h2 class="pb-5">Редактировать Компанию</h2>
    <v-form ref="form">
      <v-text-field
        v-model="company.name"
        :rules="requiredRules"
        label="Название компании"
        required
      ></v-text-field>

      <v-text-field
        v-model="company.inn"
        :rules="requiredRules"
        label="ИНН"
        required
      ></v-text-field>

      <v-text-field
        v-model="company.address"
        :rules="requiredRules"
        label="Адрес"
        required
      ></v-text-field>

      <div class="d-flex flex-column" >
        <v-btn
          color="success"
          class="mt-4"
          block
          @click="updateCompany"
        >
          Изменить Компанию
        </v-btn>

        <v-btn
          @click="comeBack"
          class="mt-6"
          color="green-lighten-4"
          block
        >
          Назад
        </v-btn>
      </div>
    </v-form>
  </v-sheet>
</template>

<script>
import Company from "@/models/Company";
import { useMessageAppStore} from "@/store/app";
import CompanyDataService from "@/services/CompanyDataService";
import Message from "@/models/Message";
import router from "@/router";

export default {
  name: "UpdateCompany",
  props: ["id"],
  data() {
    return {
      company: new Company(null,'', '', '', '', '', [], [], []),
      requiredRules: [v => !!v || 'Это поле является обязательным'],
    };
  },
  mounted() {
    this.getCompany()
  },
  methods: {
    getCompany(){
      console.log(this.id)
      CompanyDataService.get(this.id)
        .then(response => {
          this.company = response.data
        })
        .catch(e => {
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });
    },
    updateCompany: function () {

      CompanyDataService.update(this.company)
        .then(response => {
          useMessageAppStore().changeState(new Message( `Компания ${response.data.name} успешно обновлена`, "success", true))
          router.push({path: '/companies'})
        })
        .catch(e => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });

    },
    comeBack(){
      router.push({name: 'Company', params: {id: this.company.id}})
    }
  }
}
</script>

<style scoped>

</style>
