<template>
  <v-sheet width="300" class="mx-auto" >
    <h2 class="pb-5">Добавить Контактное лицо</h2>
    <h2 class="pb-5">Компании {{company.name}}</h2>
    <v-form ref="form">
      <v-text-field
        v-model="client.fio"
        :rules="requiredRules"
        label="Фамилия Имя Отчество"
        required
      ></v-text-field>

      <v-text-field
        v-model="client.phone"
        :rules="requiredRules"
        label="Телефон"
        required
      ></v-text-field>

      <v-text-field
        v-model="client.email"
        :rules="requiredRules"
        label="Email"
        required
      ></v-text-field>

      <v-text-field
        v-model="client.position"
        :rules="requiredRules"
        label="Должность"
        required
      ></v-text-field>

      <div class="d-flex flex-column" elevation="12">
        <v-btn
          color="success"
          class="mt-4"
          block
          @click="saveClient"
        >
          Создать Контактное лицо
        </v-btn>

        <v-btn
          @click="comeBack"
          class="mt-6"
          color="green-lighten-4"
          block
        >
          Назад
        </v-btn>
      </div>
    </v-form>
  </v-sheet>
</template>

<script>

import {useAuthUserAppStore, useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";
import router from "@/router";
import Company from "@/models/Company";
import Client from "@/models/Client";
import CompanyDataService from "@/services/CompanyDataService";
import ClientDataService from "@/services/ClientDataService";
import client from "@/models/Client";
import {th} from "vuetify/locale";

export default {
  name: "AddClient",
  data() {
    return {
      client: new Client(null,'', '', '', '', '', '', this.$route.params.companyId),
      company: new Company(null,'', '', '', '', '', [], [], []),
      requiredRules: [v => !!v || 'Это поле является обязательным'],
    };
  },
  mounted() {
    this.getCompany()
  },
  methods: {
    saveClient: function () {
      const client = new Client(
        null,
        '',
        useAuthUserAppStore().getUser.login,
        this.client.fio,
        this.client.phone,
        this.client.email,
        this.client.position,
        this.$route.params.companyId
      );
      ClientDataService.create(client)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Контактное лицо: ${response.data.fio} успешно добавлен`, "success", true))
          router.push({name: 'Company', params: {id: this.company.id}})
        })
        .catch(e => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });
    },
    getCompany(){
      CompanyDataService.get(this.$route.params.companyId)
        .then(response => {
          this.company = response.data
        })
        .catch(e => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });
    },
    comeBack(){
      router.push({name: 'Company', params: {id: this.company.id}})
    }

  }


}
</script>

<style scoped>

</style>
