<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">
      <h2 class="pb-2 pt-2">Контакты</h2>
      <v-btn
        class="mt-2"
        color="light-blue-lighten-4"
        @click="addClient"
      >
        Добавить Контактное лицо
      </v-btn>
      <v-table>
        <thead>
        <tr>
          <th class="text-left font-weight-black">
            Фамилия Имя Отчество
          </th>
          <th class="text-left font-weight-black">
            Телефон
          </th>
          <th class="text-left font-weight-black">
            Email
          </th>
          <th class="text-left font-weight-black">
            Должность
          </th>
          <th class="text-left font-weight-black">

        </th>
          <th class="text-left font-weight-black">

          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          v-for="item in clients"
          :key="item.first"
          class="text-left"
        >
          <td>{{ item.fio }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.position }}</td>

          <td>
            <v-btn-toggle
              rounded="0"
              group
            >
              <v-btn  @click="updateClient(item.id)" color="primary">
                Реадктировать
              </v-btn>

              <v-btn @click="openDialog(item.id)" color="error">
                Удалить
              </v-btn>
            </v-btn-toggle>
          </td>
        </tr>
        </tbody>
      </v-table>
      <v-dialog
        v-model="dialog"
        width="auto"
      >
        <v-card>
          <v-card-text>
            Вы действиетльно хотите удалить контактное лицо из программы?
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" block @click="dialog = false">Отмена</v-btn>
          </v-card-actions>
          <v-card-actions>
            <v-btn color="error" block @click="deleteClient()">Удалить </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-responsive>
  </v-container>
</template>

<script >

import router from "@/router";
import ClientDataService from "@/services/ClientDataService";
import {useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";

export default {
    name: "Clients",
    props: ["companyId"],
    data() {
      return {
        clients: [],
        dialog: false,
        clientId: ''
      }
    },
    mounted() {
      this.findAllClientsByCompanyId(this.companyId)
    },
    methods: {
      addClient() {
        router.push({name: 'AddClient', params: {companyId: this.companyId}})
      },
      openDialog(id) {
        this.dialog = true
        this.clientId = id
      },
      findAllClientsByCompanyId() {
        ClientDataService.findAllByCompanyId(this.companyId)
          .then((response) => {
              this.clients = response.data
            }, (e) => {
            useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
              console.log(e)
            }
          )
      },
      updateClient(clientId) {
        router.push({name: 'UpdateClient', params: {id: clientId}})
      },
      deleteClient() {
        this.dialog = false
        ClientDataService.delete(this.clientId)
          .then(response => {
            useMessageAppStore().changeState(new Message(`Контактное лицо успешно удалено`, "success", true))
            this.findAllClientsByCompanyId()
          })
          .catch(e => {
            useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
            console.log(e);
          });
      }
    }
}
</script>

