<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">

      <v-row class="d-flex align-center justify-center">
        <v-col cols="auto">
            <h1 class="text-green-darken-3">CRM: Отдел Продаж</h1>
        </v-col>
      </v-row>
    </v-responsive>
  </v-container>
</template>

<script lang="ts">

import router from "@/router";

export default {
  name: "helloWorld",
  mounted() {
      router.push({path: '/login'})
  },
}
</script>
