<template>
  <v-row class="d-flex align-center justify-center">
    <v-col cols="auto">
      <h1 class="text-green-darken-3 pt-6">CRM: Отдел Продаж</h1>
    </v-col>
  </v-row>
  <v-sheet width="300" class="mx-auto pt-12" >
    <h2 class="pb-5 align-center">Войти в программу</h2>
    <v-form ref="form">
      <v-text-field
        v-model="login"
        :rules="requiredRules"
        label="Login"
        required
      ></v-text-field>

      <v-text-field
        v-model="password"
        :rules="requiredRules"
        label="Password"
        required
      ></v-text-field>

      <div class="d-flex flex-column" elevation="12">
        <v-btn
          color="green-lighten-1"
          class="mt-4"
          block
          @click="authUser"
        >
          Войти в программу
        </v-btn>
        <v-btn
          color="light-green-lighten-4"
          class="mt-4"
          block
          @click="showDialogReq"
        >
          Забыли пароль?
        </v-btn>
      </div>
    </v-form>
    <v-dialog
      v-model="dialogReq"
      width="auto"
    >
      <v-card>
        <v-card-item>
          <v-card-title>Забыли пароль?</v-card-title>
        </v-card-item>
        <v-card-text>
          Введите свою электрооную почту чтобы восстановить пароль
        </v-card-text>
        <v-text-field
          v-model="email"
          :rules="requiredRules"
          label="Email"
          required
          :error-messages="error"
        ></v-text-field>
        <v-card-actions>
          <v-btn color="primary" block @click="dialogReq = false">Отмена</v-btn>
        </v-card-actions>
        <v-card-actions>
          <v-btn color="error" block @click="rememberPassword">Восстановить пароль</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogRes"
      width="auto"
    >
      <v-card>
        <v-card-item>
          <v-card-title>Изменить пароль</v-card-title>
        </v-card-item>
        <v-card-text>
          Введите новый пароль и код направленный на Вашу электронную почту
        </v-card-text>
        <v-text-field
          v-model="password"
          :rules="requiredRules"
          label="Password"
          required
        ></v-text-field>

        <v-text-field
          v-model="kod"
          :rules="requiredRules"
          label="Код из письма"
          required
        ></v-text-field>
        <v-card-actions>
          <v-btn color="primary" block @click="dialogRes = false">Отмена</v-btn>
        </v-card-actions>
        <v-card-actions>
          <v-btn color="error" block @click="changePassword">Восстановить пароль</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-sheet>
</template>


<script>

import {useAuthUserAppStore, useMessageAppStore} from "@/store/app";
import router from "@/router";
import AuthService from "@/services/AuthService";
import Message from "@/models/Message";
import LoginDTO from "@/models/LoginDTO";
import AuthUser from "@/models/AuthUser";
import UserDataService from "@/services/UserDataService";


export default {
  name: "Login",
  data() {
    return {
      login: '',
      email: '',
      password: '',
      dialogReq: false,
      dialogRes: false,
      dbUser: null,
      kod: '',
      error: '',
      requiredRules: [v => !!v || 'Это поле является обязательным'],
    };
  },
  methods: {
    showDialogReq: function(){
      this.dialogReq = true
    },
    authUser: function () {
      let loginDTO = new LoginDTO(this.login, this.password, '')

      AuthService.login(loginDTO)
        .then(response => {
          let authUser = new AuthUser(
            response.user_role,
            response.token,
            response.username
          )
          useAuthUserAppStore().setAuthUser(authUser)
          useMessageAppStore().changeState(new Message( `Пользователь  ${authUser.userName} успешно залогинен`, "success", true))
          this.findUserByLogin()
          router.push({path: '/companies'})
        })
        .catch(e => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });

    },
    findUserByLogin(){
      let login = useAuthUserAppStore().getAuthUser.userName
      UserDataService.findByLogin(login)
        .then(response => {
          useAuthUserAppStore().setUser(response.data)
        }).catch(e => {
        useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
        console.log(e);
      });
    },
    rememberPassword(){
      UserDataService.isEmail(this.email)
        .then(response => {
          if (response.data) {
            this.dialogReq = false
            useMessageAppStore().changeState(new Message(`Проверьте свою почту`, "success", true))
            this.dialogRes = true
            this.error = ''
          } else {
            useMessageAppStore.message = new Message( `Такой email не существует`, "error", true)
          }

        }).catch(e => {
        this.error = `Email ${this.email} не существует`
        console.log(e.message);
      });
    },
    changePassword(){
      const changeUser = new LoginDTO(
        this.login,
        this.password,
        this.kod
      )

      UserDataService.changePassword(changeUser)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Для входа ${response.data.login} в приложение используйте новый пароль`, "success", true))
          this.login = response.data.login
          this.dialogRes = false
        }).catch(e => {
        useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
        console.log(e);
      });

    }
  }
}
</script>

<style scoped>

</style>
