<template>
  <v-sheet width="300" class="mx-auto" >
    <h2 class="pb-5">Активность по</h2>
    <h2 class="pb-5">Компании {{company.name}}</h2>
    <label compilerOptions.isCustomElement>
      Выберите дату активности:
      <input type="date"
             name="party"
             min="2023-04-01"
             max="2024-04-30"
             class="nativeDatePicker"
             v-model="action.actionDate"
      />
    </label>
    <v-form ref="form">
      <v-text-field
        v-model="action.title"
        :rules="requiredRules"
        label="Заголовок"
        required
        class="pt-8"
      ></v-text-field>

      <v-textarea clearable
                  v-model="action.description"
                  :rules="requiredRules"
                  label="Описание"
                  required
      ></v-textarea>

      <v-checkbox
        v-model="action.isDone"
        :label="`${action.isDone ? 'Выполнена' : 'Запланирована'}`"
      ></v-checkbox>

      <div class="d-flex flex-column" elevation="12">
        <v-btn
          color="success"
          class="mt-4"
          block
          @click="saveAction"
        >
          Сохранить Активность
        </v-btn>

        <v-btn
          @click="comeBack"
          class="mt-6"
          color="green-lighten-4"
          block
        >
          Назад
        </v-btn>
      </div>
    </v-form>
  </v-sheet>
</template>

<script>
import Action from "@/models/Action";
import Company from "@/models/Company";
import {useAuthUserAppStore, useMessageAppStore} from "@/store/app";
import ActionDataService from "@/services/ActionDataService";
import Message from "@/models/Message";
import router from "@/router";
import CompanyDataService from "@/services/CompanyDataService";

export default {
  name: "Action",
  props: ["id"],
  data () {
    return {
      action: new Action(null, '', '', '',
        '', '', false, null, null),
      company: new Company(null,'', '', '', '', '', [], [], []),
      requiredRules: [v => !!v || 'Это поле является обязательным'],
    }
  },
  mounted() {
    this.getAction()
  },
  methods: {
    saveAction: function () {

      ActionDataService.update(this.action)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Активность: ${response.data.title} успешно заведена`, "success", true))
          router.push({name: 'Company', params: {id: this.company.id}})
        })
        .catch(e => {
          useMessageAppStore.snackbar = true
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });

    },
    getAction(){
      ActionDataService.get(this.id)
        .then(response => {
          this.action = response.data
          this.getCompany(this.action.companyId)
        })
        .catch(e => {
          useMessageAppStore.snackbar = true
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });
    },
    getCompany(companyId){
      CompanyDataService.get(companyId)
        .then(response => {
          this.company = response.data
        })
        .catch(e => {
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });
    },
    comeBack(){
      router.push({name: 'Company', params: {id: this.company.id}})
    }
  }
}
</script>

<style scoped>

</style>
