<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">
      <h2 class="pb-2 pt-2">Активности</h2>
      <v-btn
        class="mt-2"
        color="cyan-lighten-4"
        @click="addAction"
      >
        Добавить Активность
      </v-btn>
      <v-table>
        <thead>
        <tr>
          <th class="text-left font-weight-black">
            Дата
          </th>
          <th class="text-left font-weight-black">
            Активность
          </th>
          <th class="text-left font-weight-black">
            Статус
          </th>
          <th class="text-left font-weight-black">

          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          v-for="item in actions"
          :key="item.first"
          class="text-left"
        >
          <td>{{ item.actionDate }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.isDone ? 'Выполнена' : 'Запланирована'}}</td>
          <td>
            <v-btn-toggle
              rounded="0"
              group
            >
              <v-btn  @click="showAction(item.id)" color="primary">
                Подробнее
              </v-btn>

              <v-btn
                @click="openDialog(item.id)"
                color="deep-orange-lighten-3"
              >
                Удалить
              </v-btn>
            </v-btn-toggle>
          </td>
        </tr>
        </tbody>
      </v-table>
      <v-dialog
        v-model="dialog"
        width="auto"
      >
        <v-card>
          <v-card-text>
            Вы действиетльно хотите удалить активность из программы?
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" block @click="dialog = false">Отмена</v-btn>
          </v-card-actions>
          <v-card-actions>
            <v-btn color="error" block @click="deleteAction">Удалить </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-responsive>
  </v-container>
</template>

<script>
import router from "@/router";
import ActionDataService from "@/services/ActionDataService";
import {useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";

export default {
  name: "Actions",
  props: ["companyId"],
  data() {
    return {
      actions: [],
      dialog: false,
      actionId: null
    }
  },
  mounted() {
    this.findAllActionsByCompanyId(this.companyId)
  },
  methods: {
    addAction() {
      router.push({name: 'AddAction', params: {companyId: this.companyId}})
    },
    findAllActionsByCompanyId() {
      ActionDataService.findAllByCompanyId(this.companyId)
        .then((response) => {
            this.actions = response.data
          }, (e) => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
            console.log(e)
          }
        )
    },
    showAction(actionId) {
      router.push({name: 'Action', params: {id: actionId}})
    },
    openDialog(id){
      this.actionId = id
      this.dialog = true
    },
    deleteAction() {
      ActionDataService.delete(this.actionId)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Активность успешно удалена`, "success", true))
          this.dialog = false
          this.findAllActionsByCompanyId()
        })
        .catch(e => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });
    }
  }
}
</script>

<style scoped>

</style>
