<template>
  <v-sheet width="300" class="mx-auto" >
    <h2 class="pb-5">Добавить Активность</h2>
    <h2 class="pb-5">Компании {{company.name}}</h2>
    <label compilerOptions.isCustomElement>
      Выберите дату активности:
      <input type="date"
             name="party"
             min="2023-04-01"
             max="2024-12-30"
             class="nativeDatePicker"
             v-model="action.actionDate"
      />
    </label>
    <v-form ref="form">
      <v-text-field
        v-model="action.title"
        :rules="requiredRules"
        label="Заголовок"
        required
        class="pt-8"
      ></v-text-field>

      <v-textarea clearable
                  v-model="action.description"
                  :rules="requiredRules"
                  label="Описание"
                  required
      ></v-textarea>

      <div class="d-flex flex-column" elevation="12">
        <v-btn
          color="success"
          class="mt-4"
          block
          @click="saveAction"
        >
          Запланировать Активность
        </v-btn>

        <v-btn
          @click="comeBack"
          class="mt-6"
          color="green-lighten-4"
          block
        >
          Назад
        </v-btn>
      </div>
    </v-form>
  </v-sheet>
</template>

<script>
import Action from "@/models/Action";
import ClientDataService from "@/services/ClientDataService";
import {useAuthUserAppStore, useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";
import router from "@/router";
import CompanyDataService from "@/services/CompanyDataService";
import ActionDataService from "@/services/ActionDataService";
import Company from "@/models/Company";

export default {
  name: "AddAction",
  props: ["companyId"],
  data () {
    return {
      action: new Action(null, '', '', '',
                                    '', '', false, null, null),
      company: new Company(null,'', '', '', '', '', [], [], []),
      requiredRules: [v => !!v || 'Это поле является обязательным'],
    }
  },
  mounted() {
    this.getCompany()
  },
  methods: {
      saveAction: function () {
        const action = new Action(
          null,
          '',
          useAuthUserAppStore().getUser.login,
          this.action.actionDate,
          this.action.title,
          this.action.description,
          this.action.isDone,
          useAuthUserAppStore().getUser.id,
          this.companyId
        );
        console.log(action)
        ActionDataService.create(action)
          .then(response => {
            useMessageAppStore().changeState(new Message(`Активность: ${response.data.title} успешно заведена`, "success", true))
            router.push({name: 'Company', params: {id: this.company.id}})
          })
          .catch(e => {
            useMessageAppStore.snackbar = true
            useMessageAppStore.message = new Message(`${e.message}`, "error", true)
            console.log(e);
          });

        },
    getCompany(){
      CompanyDataService.get(this.$route.params.companyId)
        .then(response => {
          this.company = response.data
        })
        .catch(e => {
          useMessageAppStore.snackbar = true
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });
    },
    comeBack(){
      router.push({name: 'Company', params: {id: this.company.id}})
    }
  }
}
</script>

<style scoped>

</style>
