<template>
  <v-sheet width="300" class="mx-auto" >
    <h2 class="pb-5">Добавить сделку c</h2>
    <h2 class="pb-5">{{company.name}}</h2>
    <label compilerOptions.isCustomElement>
      Выберите дату сделки:
      <input type="date"
             name="party"
             min="2023-04-01"
             max="2024-12-30"
             class="nativeDatePicker"
             v-model="deal.dealDate"
      />
    </label>
    <v-form ref="form">
      <v-text-field
        v-model="deal.dealAmount"
        :rules="requiredRules"
        label="Сумма сделки"
        required
        class="pt-8"
      ></v-text-field>


      <div class="d-flex flex-column" elevation="12">
        <v-btn
          color="success"
          class="mt-4"
          block
          @click="saveDeal"
        >
          Запланировать Сделку
        </v-btn>

        <v-btn
          @click="comeBack"
          class="mt-6"
          color="green-lighten-4"
          block
        >
          Назад
        </v-btn>
      </div>
    </v-form>
  </v-sheet>
</template>

<script>
import Company from "@/models/Company";
import {useAuthUserAppStore, useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";
import router from "@/router";
import CompanyDataService from "@/services/CompanyDataService";
import Deal from "@/models/Deal";
import DealDataService from "@/services/DealDataService";

export default {
  name: "AddDeal",
  props: ["companyId"],
  data () {
    return {
      // id: number, createdWhen: string, createdBy: string, dealDate: string,
      // dealAmount: number, isDone: boolean, userId: number, companyId: number
      deal: new Deal(null, '', '', '',
        null, false, null, null),
      company: new Company(null,'', '', '', '', '', [], [], []),
      requiredRules: [v => !!v || 'Это поле является обязательным'],
    }
  },
  mounted() {
    this.getCompany()
  },
  methods: {
    saveDeal: function () {
      const deal = new Deal(
        null,
        '',
        useAuthUserAppStore().getUser.login,
        this.deal.dealDate,
        this.deal.dealAmount,
        this.deal.isDone,
        useAuthUserAppStore().getUser.id,
        this.companyId
      );
      DealDataService.create(deal)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Сделка на сумму: ${response.data.dealAmount} успешно заведена`, "success", true))
          router.push({name: 'Company', params: {id: this.company.id}})
        })
        .catch(e => {
          useMessageAppStore.snackbar = true
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });

    },
    getCompany(){
      CompanyDataService.get(this.$route.params.companyId)
        .then(response => {
          this.company = response.data
        })
        .catch(e => {
          useMessageAppStore.snackbar = true
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });
    },
    comeBack(){
      router.push({name: 'Company', params: {id: this.company.id}})
    }
  }
}
</script>

<style scoped>

</style>
