<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">
      <h2 class="pb-2 pt-2">Сделки</h2>
      <v-btn
        class="mt-2"
        color="teal-lighten-4"
        @click="addDeal"
      >
        Добавить Сделку
      </v-btn>
      <v-table>
        <thead>
        <tr>
          <th class="text-left font-weight-black">
            Дата сделки
          </th>
          <th class="text-left font-weight-black">
            Сумма
          </th>
          <th class="text-left font-weight-black">
            Статус
          </th>
          <th class="text-left font-weight-black">
            Дата заведения
          </th>
          <th class="text-left font-weight-black">

          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          v-for="item in deals"
          :key="item.first"
          class="text-left"
        >
          <td>{{ item.dealDate }}</td>
          <td>{{ item.dealAmount }}</td>
          <td>{{ item.isDone ? 'Выполнена' : 'Запланирована'}}</td>
          <td>{{ item.createdWhen }}</td>
          <td>
            <v-btn-toggle
              rounded="0"
              group
            >
              <v-btn
                @click="showDeal(item.id)"
                color="green-lighten-5">
                Подробнее
              </v-btn>

              <v-btn
                @click="openDialog(item.id)"
                color="deep-orange-lighten-3"
              >
                Удалить
              </v-btn>
            </v-btn-toggle>
          </td>
        </tr>
        </tbody>
      </v-table>
      <v-dialog
        v-model="dialog"
        width="auto"
      >
        <v-card>
          <v-card-text>
            Вы действиетльно хотите удалить сделку из программы?
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" block @click="dialog = false">Отмена</v-btn>
          </v-card-actions>
          <v-card-actions>
            <v-btn color="error" block @click="deleteDeal()">Удалить </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-responsive>
  </v-container>
</template>

<script>
import router from "@/router";
import {useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";
import DealDataService from "@/services/DealDataService";

export default {
  name: "Deals",
  props: ["companyId"],
  data() {
    return {
      deals: [],
      dialog: false,
      dealId: null
    }
  },
  mounted() {
    this.findAllDealsByCompanyId(this.companyId)
  },
  methods: {
    addDeal() {
      router.push({name: 'AddDeal', params: {companyId: this.companyId}})
    },
    findAllDealsByCompanyId() {
      DealDataService.findAllByCompanyId(this.companyId)
        .then((response) => {
            this.deals = response.data
          }, (e) => {
            useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
            console.log(e)
          }
        )
    },
    showDeal(actionId) {
      router.push({name: 'Deal', params: {id: actionId}})
    },
    openDialog(id){
      this.dealId = id
      this.dialog = true
    },
    deleteDeal(){
      DealDataService.delete(this.dealId)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Сделка на сумму успешно удалено`, "success", true))
          this.dialog = false
          this.findAllDealsByCompanyId()
        })
        .catch(e => {
          useMessageAppStore().changeState(new Message(`${e.message}`, "error", true))
          console.log(e);
        });
    }
  }
}
</script>

<style scoped>

</style>
