<template>
  <v-sheet width="300" class="mx-auto" >
    <h2 class="pb-5">Сделка с Компанией</h2>
    <h2 class="pb-5">{{company.name}}</h2>
    <label compilerOptions.isCustomElement>
      Дата сделки:
      <input type="date"
             name="party"
             min="2023-04-01"
             max="2024-12-30"
             class="nativeDatePicker"
             v-model="deal.dealDate"
      />
    </label>
    <v-form ref="form">
      <v-text-field
        v-model="deal.dealAmount"
        :rules="requiredRules"
        label="Сумма сделки"
        required
        class="pt-8"
      ></v-text-field>

      <v-checkbox
        v-model="deal.isDone"
        :label="`${deal.isDone ? 'Выполнена' : 'Запланирована'}`"
      ></v-checkbox>


        <v-btn
          class="mt-4"
          color="green-lighten-2"
          block
          @click="updateDeal"
        >
          Редактирвать Сделку
        </v-btn>

        <v-btn
          @click="comeBack"
          class="mt-6"
          color="green-lighten-4"
          block
        >
          Назад
        </v-btn>


    </v-form>
  </v-sheet>
</template>

<script>
import Company from "@/models/Company";
import Deal from "@/models/Deal";
import DealDataService from "@/services/DealDataService";
import {useMessageAppStore} from "@/store/app";
import Message from "@/models/Message";
import CompanyDataService from "@/services/CompanyDataService";
import router from "@/router";

export default {
  name: "Deal",
  props: ["id"],
  data () {
    return {
      deal: new Deal(null, '', '', '',
        null, false, null, null),
      company: new Company(null, '', '', '', '', '', [], [], []),
      requiredRules: [v => !!v || 'Это поле является обязательным'],
    }
  },
  mounted() {
    this.getDeal()
  },
  methods: {
    getDeal(){
      DealDataService.get(this.id)
        .then(response => {
          this.deal = response.data
          this.getCompany(this.deal.companyId)
        })
        .catch(e => {
          useMessageAppStore.snackbar = true
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });
    },
    getCompany(companyId){
      CompanyDataService.get(companyId)
        .then(response => {
          this.company = response.data
        })
        .catch(e => {
          useMessageAppStore.snackbar = true
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });
    },
    updateDeal(){
      DealDataService.update(this.deal)
        .then(response => {
          useMessageAppStore().changeState(new Message(`Сделка на сумму: ${response.data.dealAmount} успешно обновлена`, "success", true))
          router.push({name: 'Company', params: {id: this.company.id}})
        })
        .catch(e => {
          useMessageAppStore.snackbar = true
          useMessageAppStore.message = new Message(`${e.message}`, "error", true)
          console.log(e);
        });
    },
    comeBack(){
      router.push({name: 'Company', params: {id: this.company.id}})
    }

  }
}
</script>

<style scoped>

</style>
